* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body {
   
    margin:auto;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 12px;

}
img {
    width: 100%;;
    height: auto;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.read-books {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
header {
    
    background-image: url(/Users/hackyourfuture/Desktop/hyf-html-exercises/HYF-Module-HTMLCSSGIT/week3/goodreads-clone/newsletter-header.jpg);
    background-color: #f6f6ee;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    height: 400px;
    
    margin: 0;
    padding: 0;
    width: 100%;
    
    
}
.header-img {
    width: 70vw;
    
    display: block;
    margin: 30px auto;
}


nav {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    
}
.signin-signup-triggers {
    display: flex;
    justify-content: center;
}
.social-signin {
    display:flex;
    justify-content: space-evenly;
    background-color: rgb(26, 25, 25);
    height: 35px;
    color: white;
    font-size: 0.7rem;
    text-align: center;
    padding:5px;
    border: 1px solid rgba(40, 40, 41, 0.2);
    border-radius: 5px;
    
}
.social-signin-icons {
    display: flex;
    justify-content: center;
    
}
.icon {
    width: 20px;
    height:20px;
    margin: 0 2px;
    
    
}
.social-signin h2 {

   
    text-align: center;
    font-size: 2vw;
    padding-top: 2px;
}


.logo{
    margin: 10px;
    padding: 10px;
   
    
}
.social-signin {
    margin: 10px;
    padding: 10px;
   

}
ul {
    list-style: none;
}
li form {
    display: none;
}
li:hover form {
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: rgba(206, 205, 205, 0.8);
}
.input{
    width: 100%;
    padding: 10px;
    display: block;
    border: 2px solid #ccc;
    outline: none;
}


.input:focus{
    border: 2px solid #222;
}

.tinput::-webkit-input-placeholder { color: #f00;}
.input:-moz-placeholder {color: #f00;}
.input::-moz-placeholder {color: #f00;}
.input:-ms-input-placeholder {color: #f00;}   

.signin-trigger {
    background-color: #382110;
    order: 1px solid #382110;
    border-radius: 5px;    
    margin: 20px;
    padding: 10px 20px;
    text-align: center;
    color:white;
        
}
a {
    text-decoration: none;
}
.btn-txt {
    font-size: 0.9rem;
    color: rgba(60, 58, 58, 0.8)
}
.checkbox {
    margin-top: 0; 
}
.signin-trigger a {
    text-decoration: none;
    color:white;
}
.signup-trigger {
    background-color: #fad05e;
    border: 1px solid #fad05e;
    border-radius: 5px;
    margin: 20px;
    padding: 10px 20px;
    
}
.signup-trigger a {
    text-decoration: none;
    color:white;
}
.signin-signup-triggers form {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    

}
form div {
    margin: 3px;
    padding:3px;
}
form input {
    border-radius: 5px;
}
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: end;
    width: 100%;
}
.discover {
    
    margin: 20px auto 0px;
    background: linear-gradient(to bottom,#f4f2e9 80%,#cccab4 20%);
    padding: 10px;
    box-shadow: 10px 2px 20px grey;
    border-radius: 5px;
    
    
    
    
}
.discover h2 {
    margin-top: 20px;
    border-bottom: 1px solid gray;
}
.discover-books {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
   
   
   
}
.arrow {
    margin: auto;
}
.discover a{
    margin-right: 8px;
}
.discover-txt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    width:90%;
    font-size: 2.5vw;
    margin-top: 30px;
}
aside {
    width: 100%;
    margin: 20px auto 0px;
}
section {
    width: 100%;
    margin: 20px auto 0px;

}
.news {
    width: 95%;
    margin: auto;
    border: 1px solid #f4f2e9;
    border-radius: 5px;
    padding:10px;
    
    box-shadow: 10px 2px 20px grey;
    
   
}
.news h2 { 
    color: #382110;
    margin-top: 10px;
    margin-bottom: 10px;
   
}
.news h3 {
    color: #00635d;
    margin-top: 10px;
    margin-bottom: 10px;
}


.search h2 {
    margin: 20px;
}
.search-bar {
    margin: 20px;
   
}

.search-bar img {
    width: 20px;
    left: -9%;
    top: 6px;
    
    position: relative;

}
.search-here {
    width: 90%;
    padding: 10px;
    display: inline-block;
    border: 2px solid #ccc;
    outline: none;
   
   
}
.genre-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 25px;
}
.genres {
    display: flex;
    flex-direction: column;
   
}
.genres a {
    color:#00635d;
}
.lists {
    border: 1px solid gray;
    padding: 20px;
    width: 95%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 10px 2px 20px grey;
    background-color: #f4f2e9;
}
.lists img {
    width: 70px;
    height:90px;
    padding: 5px;
    
}
.first-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 0;
    

    
}
.list-title {
    text-align: center;
    
    color: #00635d;
    margin: 10px 0;
    
}
.second-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 0;
    

}
.third-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 0;
    
}
.lists-list {
    font-size: 1.5rem;
}



    

